<link rel="stylesheet" href="/css/footer.css" />
<!-- footer -->
<footer>
  <div class="about">
    <h1><span class="logo-text">Novotek </span> <span>Blog</span></h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti a
      recusandae, molestiae incidunt
    </p>
    <!-- Contacts -->
    <div class="contact">
      <span>
        <i class="bi bi-telephone"></i>
        + (123) 456 789
      </span>
      <span>
        <i class="bi bi-envelope"></i>
        <a href="mailto:support@inovotek.com"> support@inovotek.com </a>
      </span>
    </div>
    <!-- socials -->
    <div class="socials">
      <a href="https://www.youtube.com/c/inovotek-academy">
        <i class="bi bi-youtube"></i>
      </a>
      <a href="https://www.youtube.com/c/inovotek-academy">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://www.youtube.com/c/inovotek-academy">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="https://www.youtube.com/c/inovotek-academy">
        <i class="bi bi-facebook"></i>
      </a>
    </div>
  </div>
</footer>
